<div class="custom-input-container">
  <label
    *ngIf="label"
    [ngClass]="{ invalid: control?.invalid && control?.touched }"
    >{{ label }}</label
  >
  <input
    type="text"
    class="custom-input-container__custom-input"
    [class.focused]="isFocused"
    [class.invalid]="control?.invalid && control?.touched"
    (focus)="isFocused = true"
    (blur)="isFocused = false"
    [value]="value"
    (input)="onInput($event)"
    [placeholder]="placeholder"
  />
  <span class="validation-message" *ngIf="control?.invalid && control?.touched"
    >This field is required</span
  >
</div>
