@import "./src/base";

.custom-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  &__custom-input {
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: 35px;
    border: 1px solid $light-grey;
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }

  &__custom-input.focused {
    border-color: $purple;
  }
  &__custom-input.invalid {
    border-color: $light-red;
  }
  &__custom-input::placeholder {
    color: $smokey-grey;
  }
  & label {
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: 18px;
    margin-bottom: 5px;
    color: $smokey-grey;
    letter-spacing: 0.09em;
    &.invalid {
      color: $light-red;
    }
  }
  .validation-message {
    color: $light-red;
    font-size: 12px;
    margin-top: 5px;
  }
}
