<div class="age-calculator">
  <div class="age-calculator__age">
    <span class="age-calculator__age__number">38</span>
    <span class="age-calculator__age__text">years</span>
  </div>
  <div class="age-calculator__age">
    <span class="age-calculator__age__number">3</span>
    <span class="age-calculator__age__text">months</span>
  </div>
  <div class="age-calculator__age">
    <span class="age-calculator__age__number">26</span>
    <span class="age-calculator__age__text">days</span>
  </div>
</div>
