<div class="age-calculator">
  <div class="age-calculator__age">
    <span class="age-calculator__age__number">{{ age()?.years ?? "--" }}</span>
    <span class="age-calculator__age__text">years</span>
  </div>
  <div class="age-calculator__age">
    <span class="age-calculator__age__number">{{ age()?.months ?? "--" }}</span>
    <span class="age-calculator__age__text">months</span>
  </div>
  <div class="age-calculator__age">
    <span class="age-calculator__age__number">{{ age()?.days ?? "--" }}</span>
    <span class="age-calculator__age__text">days</span>
  </div>
</div>
